.intro__title {
    margin: 0 auto 35px auto;
    padding: 0;
    max-width: 100%;
    font-stretch: 50%;
    letter-spacing: -0.015em;
    
    font-family: "bebas";
    font-style: normal;
    font-weight: regular;
    font-size: 54px;
    line-height: 107%;
    color: rgb(9, 92, 165);
    text-align: left;
    border-bottom: 4px dashed rgb(9, 92, 165);
    min-width: 850px;
    text-align: center;
}

@media screen and (max-width: 1023px) {
    .intro__title{
        /* margin: 0 24px 0 24px; */
    }
}

@media screen and (max-width: 880px){
    .intro__title{
        min-width: 100%;
    }
}

@media screen and (max-width: 767px){
    .intro__title{
        /* margin: 0 16px 0 16px; */
        font-size: 48px;
    }
}

@media screen and (max-width: 580px) {
    .intro__title{
        /* margin: 0 16px 0 16px; */
        font-size: 38px;
    }
}

@media screen and (max-width: 460px) {
    .intro__title{
        /* margin: 0 16px 0 16px; */
        font-size: 30px;
    }
}

@media screen and (max-width: 359px) {
    .intro__title{
        /* margin: 0 16px 0 16px; */
        font-size: 26px;
    }
}

