.intro__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  /* or 150% */
  color: #ffffff;
  text-align: left;
}

@media screen and (max-width: 1023px) and (min-width: 768px),
  screen and (max-device-width: 1023px) and (min-device-width: 768px) {
  .intro__list {
    margin: 0 24px 0 24px;
  }
}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
  .intro__list {
    margin: 0 16px 0 16px;
  }
}
