.intro {
  margin: 0 auto 65px auto;
  padding: 0;
  max-width: 100%;
  background-color: #ffffff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1279px) and (min-width: 1024px),
  screen and (max-device-width: 1279px) and (min-device-width: 1024px) {
  .intro {
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px),
  screen and (max-device-width: 1023px) and (min-device-width: 768px) {
  .intro {
    min-width: 720px;
    margin: 0 auto 40px auto;
  }
}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
  .intro {
    min-width: 288px;
    margin: 0 auto 30px auto;
  }
}
