.intro {
  margin: 0 auto;
  padding: 0;
  padding-bottom: 50px;
  max-width: 90%;
  background-color: #2a2c2f;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 1279px) and (min-width: 1024px),
  screen and (max-device-width: 1279px) and (min-device-width: 1024px) {
  .intro {
    min-width: 928px;
  }
}

@media screen and (max-width: 1023px) and (min-width: 768px),
  screen and (max-device-width: 1023px) and (min-device-width: 768px) {
  .intro {
    min-width: 720px;
    padding-bottom: 88px;
  }
}

@media screen and (max-width: 767px), screen and (max-device-width: 767px) {
  .intro {
    min-width: 288px;
    padding-bottom: 64px;
  }
}
